<!DOCTYPE html>
<html layout:decorate="~{Layout}">
<head><meta charset="UTF-8"/></head>
<body>
	    <section class="layout-content" layout:fragment="corpo">
	        <div class="page-header">
	            <nav class="navbar navbar-expand-md navbar-top bg-light">
	                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                    <ul class="navbar-nav">
	                        <li class="nav-item active">
	                            <i class="oi oi-caret-right"></i>
	                            <span>Saldo do cliente por período</span>
	                        </li>
	                    </ul>
	                </div>
	            </nav>
	        </div>
	
	        
	        <p>Relatório</p>
	    </section>
</body>
</html>		