<!DOCTYPE html>
<html layout:decorate="~{Layout}">
<head><meta charset="UTF-8" /></head>
<body>
				
	<section class="layout-content" layout:fragment="corpo">
	
		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class="oi oi-caret-right"></i>
						<span>Home</span>
					</li>
				</ul>
			</div>
		</nav>
		
		<div class="container">
			<div id="list-home" class="row">
				<div class="col-4">
					CÉLULA FINANCEIRO E CONTROLADORIA
				</div>
				<div class="col-8">
					<p>Criar um projeto JAVA, utilizando o banco de dados ORACLE que deverá versionado no GitHub.</p>
					
					<p>Projeto bem simples para controlar as receitas e as despesas de vários clientes, a empresa (XPTO)
					precisa controlar as receitas e as despesas de diversos clientes (X, Y, Z) que podem ser PJ ou PF.</p>
					
					<p>Além de manter os clientes (Y, X, Z) é preciso fazer o controle da receita da empresa (XPTO)
					com relação as movimentações dos clientes (X, Y, Z).</p>
					
				</div>
			</div>
		</div>
		
	</section>		
	
</body>
</html>